.container-detail{
    margin-left: 11.7%;
    background: #ffffff;
    width: 75.1%;
    position: absolute;
}

.detail-img{
    margin-top: 3%;
    margin-left: 2%;
    width: 39%;
}

.detail-product{
    position: absolute;
    margin-left: 61%;
    margin-top: -28%;
}

.btn-buy{    
    background-color: #3483FA;
    border: none;
    color: white;
    padding: 12px 88px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 6px;
    margin-top: 124%;
    position: absolute;
}

.status-product{
    font-size: 13px;
}

.price-container{
    margin-top: 16%;
}

.name-product{
    font-size: 26px;
    font-weight: 600;
    width: 378%;
    top: 14%;
    position: absolute;
}

.price-product{
    font-size: 40px;
    font-weight: 600;
    width: 130%;
    top: 115%;
    position: absolute;
}

.price-cents{
    font-size: 21px;
    font-weight: 600;
    width: 61%;
    top: 167%;
    position: absolute;
    left: 69%;
}

.title-product{
    font-size: 20px;
    margin-left: 2%;
    margin-top: 8%;
}

.detail-product-text{
    font-size: 20px;
    margin-left: 2%;
    margin-top: 2%;
    width: 53%;
}